*{
    box-sizing: border-box;

}

#header-nav {
    background-color: orange;
    border: 1px solid black;
    height: 100px;
}

h2 {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}

.row {
    width: 100%;

}

.section {
    border: 2px solid black;
    background-color: lightyellow;
    margin-top: 30px;
    width: 1300px;
    height: 700px;
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
}
p {
    width: 1000px; 
    font-size: 25px;
    padding-left: 30px;
    text-align: left;
    
}

.title {
    text-align: center;
    padding-left: 465px;
}

@media (min-width: 1200px) {
    .section {
        width: 100%;
    }

}


@media (max-width: 1199px) and (min-width: 992px) {
       .section {
        width: 100%;
        margin-left: 25px;
    }
    p {
        width: 800px;
    }
    .title {
        padding-left: 385px;
    }
    h2 {
        padding-left: -10px;
    }

}